*{
    margin: 0;
}

.comment-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    margin-top: -5px;

    .comment {
        display: flex;
        justify-content: space-between;
        margin: 0 12px 0 12px;

        img {
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .profile-comment-img {
        background: none;
        border: none;

        img {
            width: 32px;
            height: 32px;
            object-fit: cover;
        }
    }

    .three-dot-comment {
        display: none;
        background: none;
        border: none;

    }

    &:hover {
        .three-dot-comment {
            display:inline-block;
            cursor: pointer;

        }
    }
}

.comment-details {
    display: flex;
    cursor: pointer;

    .username-comment {
        font-weight: bolder;
        margin-inline-end: 5px;
        float: left;
    }

    .comment-data {
        margin: 0 0 0 8px;

        .textual-2 {
            display: flex;
            align-items: center;
            color: #737373;

            .comment-date-time {
                margin: 0 12px 0 0;
            }

            .comment-count-likes {  
                margin: 0 12px 0 0;
            }

            .likes-on-comment {
                margin: 0 12px 0 0;
            }
        }
    }

    .btn-like-comment {
        background: none;
        border: none;

        img {
            width: 16px;
            height: 16px;
            cursor: pointer;
        }

    }


}