* {
    margin: 0;
}

.comment-details {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding-top: 12px;
    margin-top: -5px;

    .comment {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0 12px 0 0;
    }

    .profile-comment-img {
        background: none;
        border: none;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 16px;
    }

    .comment-data {
        display: flex;
    }

    .three-dot-comment {
        margin: 0 0 0 12px;
        background: none;
        border: none;
        width: 24px;
        height: 24px;
        filter: invert(100%);
    }

    &:hover {
        .three-dot-comment {
            display: inline;
            margin: 0 0 0 12px;
            filter: invert(50%);
            cursor: pointer;
        }
    }
}

.comment-details {
    display: flex;

    .username-comment {

        font-weight: bolder;
        margin-inline-end: 5px;
        float: left;

    }

    .comment-details-actions {
        display: flex;
        flex-direction: row;
        justify-content: right;
        color: #737373;
        margin-top: 8px;

        .comment-date-time {
            margin: 0 12px 0 0;
        }

        .comment-count-likes {
            margin: 0 12px 0 0;
        }

        .likes-on-comment {
            margin: 0 12px 0 0;
        }
    }

    .btn-like-comment {
        background: none;
        border: none;
        width: 12px;
        height: 12px;
        margin-left: auto;
        align-self: start;
        cursor: pointer;
    }


}