* {
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

}

.ellipsis-modal {
  background: $clr-bg;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  // margin-top: -5.5625rem;
  border-radius: 12px;

}

.ellipsis-btn {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  width: rem(400px);
  height: rem(48px);
  line-height: 1.5;
  padding: 4px 8px 4px 8px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #c7c7c7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.ellipsis-btn:last-child {
  border-bottom: none;
}