.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}

.loading-instagram {
  width: 96px;
  margin-top: auto;
}

.loading-meta {
  width: 64px;
}
