.loading-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loading-instagram {
    width: 96px;
    margin-top: 22rem;
  }
  
  .loading-meta {
    width: 64px;
    margin-top: 24rem;
  }
  