
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;    
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.post-details {
    display: grid;
    grid-template-columns: 691px 500px;
    grid-template-rows: 84px 1fr 54px 25px 52px;
    background: white;
    border-radius: 0.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .img-side-details {
        display: block;
        grid-column: 1 / 2;
        grid-row: 1 / -1;


        .details-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .header-details-modal {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Adjust as needed */
        grid-column: 2;
        grid-row: 1;
    }

    .profile-header-img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        cursor: pointer;
    }

    .dots {
        cursor: pointer;
    }
}

//     .details-subject {
//         display: flex;
//         flex-direction: row;
//         padding: 6px 6px;
//         justify-content: space-between;
//         width: 100%;
//         border-bottom: 0.8px solid rgb(217, 216, 216);



//             h4 {
//                 margin-left: 13px;
//                 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
//                 font-size: 0.875rem;
//                 font-weight: 600;

//             }

//         }

//         .second {
//             display: flex;
//             align-items: center;
//         }
//     }

//     .all {
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         flex-grow: 1;
//     }


// .body-container-details-modal {

//     grid-column: 2;
//     grid-row: 2;


//     .first {
//         display: flex;
//         flex-direction: row;

//         .profile-details-img {
//             width: 2rem;
//             height: 2rem;
//             object-fit: cover;
//             border-radius: 50%;
//             margin-bottom: 1rem;
//             margin-left: 0.77rem;
//             grid-row: 2/3;
//             grid-column: 2/3;
//             margin-top: 14px;
//             margin-right: 15px;
//         }
//     }

//     .pst-by {
//         font-weight: 600;
//         font-size: 0.875rem;
//         margin-right: 7px;
//         font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
//     }

//     h4 {
//         font-weight: 400;
//         font-size: 0.875rem;
//         font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

//     }

//     .timee {
//         margin-top: -35px;
//         margin-left: 72px;
//         font-size: 12px;
//         font-weight: 400;
//         font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
//         color: rgb(115, 115, 115);


//     }