* {
    box-sizing: border-box;
}

.post-preview {
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c7c7c7;

}

.post-preview p{
    margin: 0.2rem 0;
}

.post-preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.post-preview-header img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.userName-preview{
    margin-inline-start: 10px;
}

.post-preview-header div {
    display: flex;
    align-items: center;
}

.userName-preview {
    color: $clr-fill;
}

.dots{
    cursor: pointer;
}

.post-img-container {
    width: 100%;
    height: 468px;
    
    .post-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 4px;

    }
}

.actions-container {
    display: flex;
    justify-content: space-between;
}

.like-comment-send img {
    padding: 8px 8px 8px 0;

}

.save{
    padding: 8px 0 8px 8px;
}

.actions-container img:hover {
    cursor: pointer;
    opacity: .5;
}

.name-color {
    color: #262626
}

.comments-stats {
    color:#737373
}

.comment{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

input[type="text"].comment-input{
    border: none;
    outline: none; 
    padding: 0;
}

.btn-post{
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #0095f6;
    cursor: pointer;
}

.emoji-btn {
    background: none;
    border: none;
    cursor: pointer;
}
