.profile-user-header {
  display: flex;

  .about-container {
    display: flex;

    .profile-user-header-btn {
      width: 166px;
      height: 166px;
      border-radius: 50%;
      padding: 0;
      border: 0;
      margin: 26px 63px;

      img {
        width: 166px;
        height: 166px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .profile-user-info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .settings-area {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;

        .current-user {
          font-family: $font-family1;
          line-height: rem(25px);
          font-size: rem(20px);
          margin-inline-end: 20px;
        }

        .settings-area-btn {
          display: flex;
          justify-content: center;
          white-space: nowrap;
        }

        .edit-profile-btn {
          font-family: $font-family1;
          background-color: $clr-btn-profile;
          width: 101px;
          height: 32px;
          line-height: rem(18px);
          text-align: center;
          font-size: rem(14px);
          padding: 0 16px;
          margin-inline-end: 8px;
          border-radius: 8px;
          box-shadow: none;
          border: none;

          &:hover {
            background-color: $clr-btn-profile-hover;
            cursor: pointer;
          }
        }

        .view-archive-btn {
          font-family: $font-family1;
          white-space: nowrap;
          width: 101px;
          height: 32px;
          background-color: $clr-btn-profile;
          line-height: rem(18px);
          text-align: center;
          font-size: rem(14px);
          // padding: 0 16px;
          border-radius: 8px;
          margin-inline-end: 13px;
          box-shadow: none;
          border: none;

          &:hover {
            background-color: $clr-btn-profile-hover;
            cursor: pointer;
          }
        }

        .settings-btn {
          padding: 0;
          margin: 0;
          border: none;
          outline: none;
          background: none;

          &:hover {
            cursor: pointer;
          }
        }

        .guest-user-area {
          display: flex;
          justify-content: center;
        }

        .guest-user {
          font-family: $font-family1;
          line-height: rem(25px);
          font-size: rem(20px);
          margin-inline-end: 20px;
        }

        .follow-btn {
          background-color: $clr-Btn;
          font-weight: 600;
          text-align: center;
          font-size: rem(14px);
          line-height: 18px;
          color: $clr-bg;
          border-radius: 8px;
          font-family: $font-family1;
          padding: 7px 16px;
          margin-inline-end: 8px;
          border: none;
          outline: none;
        }

        .message-btn {
          background-color: #e8e7e7;
          border-radius: 8px;
          color: black;
          font-weight: 600;
          text-align: center;
          justify-content: center;
          font-size: rem(14px);
          font-family: $font-family1;
          width: 90px;
          line-height: 18px;
          margin-inline-end: 8px;
          border: none;
          outline: none;
        }

        .add-btn {
          background-color: $clr-btn-profile;
          border-radius: 8px;
          text-align: center;
          padding: 8px;
          margin-inline-end: 13px;
          border: none;
          outline: none;
        }

        .dots-btn {
          border: none;
          outline: none;
          background: none;

        }
      }

      .follows-area-profile {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .name-area-profile {
        span {
          font-family: $font-family1;
          font-size: rem(14px);
          line-height: rem(18px);
          font-weight: 600;
        }
      }
    }

    .user-button {
      width: 150px;
      height: 150px;

      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .info {
      display: flex;
      align-items: center;

      .settings img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

.follows-area-profile-mobile {
  display: none;
}

.name-area-profile-mobile {
  display: none;
}


@media (max-width: $mobile-breakpoint) {

  .profile-user-header {
    display: flex;
    flex-direction: column;

    .about-container {
      display: flex;

      .profile-user-header-btn {
        width: 77px;
        height: 77px;
        border-radius: 50%;
        padding: 0;
        border: 0;
        margin: 16px;

        img {
          width: 77px;
          height: 77px;
          border-radius: 50%;

          cursor: pointer;
        }
      }

      .profile-user-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .settings-area {
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: 20px;
          margin: 0 0 28px 16px;

          .current-user {
            font-family: $font-family1;
            line-height: rem(25px);
            font-size: rem(20px);
            margin-inline-end: 20px;
          }

          .edit-profile-btn {
            font-family: $font-family1;
            background-color: $clr-btn-profile;
            line-height: rem(18px);
            text-align: center;
            font-size: rem(14px);
            padding: 0 16px;
            margin-inline-end: 8px;
            border-radius: 8px;
            box-shadow: none;
            border: none;

            &:hover {
              background-color: $clr-btn-profile-hover;
              cursor: pointer;
            }
          }

          .view-archive-btn {
            font-family: $font-family1;
            background-color: $clr-btn-profile;
            line-height: rem(18px);
            text-align: center;
            font-size: rem(14px);
            // padding: 0 16px;
            border-radius: 8px;
            margin-inline-end: 13px;
            box-shadow: none;
            border: none;

            &:hover {
              background-color: $clr-btn-profile-hover;
              cursor: pointer;
            }
          }

          .settings-btn {
            display: none;
            padding: 0;
            margin: 0;
            border: none;
            outline: none;
            background: none;

            &:hover {
              cursor: pointer;
            }
          }

          .guest-user-area {
            display: flex;
            justify-content: center;
          }

          .guest-user {
            font-family: $font-family1;
            line-height: rem(25px);
            font-size: rem(20px);
            margin-inline-end: 20px;
          }

          .follow-btn {
            background-color: $clr-Btn;
            font-weight: 600;
            text-align: center;
            font-size: rem(14px);
            line-height: 18px;
            color: $clr-bg;
            border-radius: 8px;
            font-family: $font-family1;
            padding: 7px 16px;
            margin-inline-end: 8px;
            border: none;
            outline: none;
          }

          .message-btn {
            background-color: #e8e7e7;
            border-radius: 8px;
            color: black;
            font-weight: 600;
            text-align: center;
            justify-content: center;
            font-size: rem(14px);
            font-family: $font-family1;
            width: 90px;
            line-height: 18px;
            margin-inline-end: 8px;
            border: none;
            outline: none;
          }

          .add-btn {
            background-color: $clr-btn-profile;
            border-radius: 8px;
            text-align: center;
            padding: 8px;
            margin-inline-end: 13px;
            border: none;
            outline: none;
          }

          .dots-btn {
            border: none;
            outline: none;
            background: none;

          }
        }

        .follows-area-profile {
          display: none;
        }

        .name-area-profile {
          display: none;
        }
      }

      .user-button {
        width: 150px;
        height: 150px;

        img {
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .info {
        display: flex;
        align-items: center;

        .settings img {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }

  .follows-area-profile-mobile {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #c7c7c7;
    padding: 12px 0;
  }

  .count-post-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .count-followers-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .count-following-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name-area-profile-mobile {
    display: block;
    padding: 0 0 16px 16px;
    font-size: rem(14px);
    font-weight: 600;
  }
}