* {
    box-sizing: border-box;
}

section.side-bar {
    border-right: 1px solid #c7c7c7;
    margin-inline-start: 12px;
}


.logo-side-bar {
    display: flex;
    align-items: center;
    width: 220px;
    height: 92px;
    padding: 12px;
}

.navbar-btn {
    display: flex;
    align-items: center;
    background-color: $clr-bg;
    width: 220px;
    height: 48px;
    padding: 12px;
    margin: 4px 0 4px 0;
    border: none;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar-btn:hover {
    transition: .3s;
    cursor: pointer;
    background-color: #F2F2F2;
    border-radius: 8px;
}

.icon {
    margin-inline-end: 16px;
}

.title {
    font-size: rem(16px);
    line-height: 1.25;
}

@media (max-width: $mobile-breakpoint) {
    section.side-bar{
        margin-inline-start: 0;
    }
    .side-bar{
        display: flex;
        gap: 30px;
        background-color: $clr-bg;
    }
    
    .logo-side-bar {
        display: none;
    }

    .navbar-btn {
        display: flex;
        align-items: center;
        background-color: $clr-bg;
        width: 48px;
        height: 48px;
        padding: 12px;
        margin: 4px 0 4px 0;
        border: none;
        text-align: start;
        font-family: Arial, Helvetica, sans-serif;

    }

    .icon {
        margin: 0;
    }
    .title {
        display: none;
    }

    .nb-search{
        display: none;
    }
    .nb-reels{
        display: none;
    }

    .nb-home{
        order: 1;
    }
    .nb-explore{
        order: 2;
    }
    .nb-create{
        order: 3;
    }
    .nb-messages{
        order: 4;
    }
    .nb-profile{
        order: 5;
    }

}