
.suggest-profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}

.suggest-profile-items{
    display: flex;
    align-items: center;
}
.suggest-profile-img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-inline-end: 12px;
    cursor: pointer;
}

.suggest-username{
    font-family: $font-family1;
    color: $clr-fill;
    font-weight: bold;
    cursor: pointer;
}

.switch-btn{
    font-size: rem(12px);
    font-family: $font-family1;
    color: $clr-Btn;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}