.user-post {
    background-color: $clr-bg;

    .user-post-preview {
        position: relative;

        .prev-icons {
            position: absolute;


        }
    }
}

@media (max-width: $mobile-breakpoint) {

}