.home-page-container{
    background-color: $clr-bg;
    display: grid;
    grid-template-columns: 244px 1fr 468px 1fr 320px 1fr;
    grid-template-rows: 29px 72px 1fr;
    

}

.side-bar {

    grid-row: 1/-1;
    position: sticky;
    top: 0;

}

.post-list{
    grid-column:3/4 ;
    grid-row: 2/4;
}
.suggest-followers{
    grid-column: 5/6;
    grid-row: 2/4;
}