.home-page-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    position: sticky;
    top: 0;
    grid-template-columns: 244px 1fr 630px 64px 320px 1fr;
    grid-template-rows: 2fr 10fr  ;
    

}

.navbar-btn{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    padding: 20px;
    border: none;
    text-align: start;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar-btn:hover{
    transition: .3s;
    cursor: pointer;
    background-color: rgb(241, 237, 237);
    border-radius: 5px;
}
.navbar-btn img{
    margin-inline-end: 10px;
}
.post-list{
    grid-column:3/4 ;
    grid-row: 2/-1;
}
.suggest-followers{
    grid-column: 5/6;
    grid-row: 1/-1;
    margin-top: 10vh;
}