// Colors
$clr-bg: #ffffff;
$clr-Btn: #0095f6;
$clr-Btn-hover: #1877f2;
$clr-fill: #000000;
$clr-text1: #737373;

// Fonts
$font-family1:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;